body {
    background: rgb(118, 118, 209);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;    
}

div#res {
    margin: 40px 0px 30px 0px;
    text-align: center;
}

img#foto {
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: aquamarine;
}